__pycache__/
.vscode
.devcontainer

scratch/*
corr/
scans/
/*.nii.gz
data/shapes-dice-vel-3-res-8-16-32-256f.h5
data/modified_average_205.nii.gz
data/brains-dice-vel-0.5-res-16-256f.h5
.devcontainer/devcontainer.json
